<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.AccountMapper">

    <resultMap id="AccountMap" type="com.zoctan.api.entity.Account">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
    </resultMap>

    <resultMap id="AccountWithRoleMap" type="com.zoctan.api.dto.AccountWithRole" extends="AccountMap">
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>

    <select id="listAllWithRole" resultMap="AccountWithRoleMap">
        SELECT a.*,
               r.id   as role_id,
               r.name as role_name
        FROM account a
                 LEFT JOIN account_role ar ON a.id = ar.account_id
                 LEFT JOIN role r ON ar.role_id = r.id
    </select>

    <select id="findWithRoleBy" resultMap="AccountWithRoleMap">
        SELECT a.*,
        r.id as role_id,
        r.name as role_name
        FROM account a
        LEFT JOIN account_role ar ON a.id = ar.account_id
        LEFT JOIN role r ON ar.role_id = r.id
        <where>
            <if test="accountName != null">a.name = #{accountName}</if>
            <if test="roleName != null">and r.name = #{roleName}</if>
        </where>
    </select>

    <resultMap id="AccountWithRolePermissionMap" type="com.zoctan.api.dto.AccountWithRolePermission"
               extends="AccountWithRoleMap">
        <!-- 1角色对应多权限 -->
        <collection property="permissionCodeList" ofType="String">
            <result column="permission_code" jdbcType="VARCHAR" property="code"/>
        </collection>
    </resultMap>

    <select id="findDetailBy" resultMap="AccountWithRolePermissionMap">
        SELECT
        a.*,
        r.id as role_id,
        r.name as role_name,
        p.code as permission_code
        FROM account a
        LEFT JOIN account_role ar ON a.id = ar.account_id
        LEFT JOIN role r ON ar.role_id = r.id
        LEFT JOIN role_permission rp ON r.id = rp.role_id
        LEFT JOIN permission p ON rp.permission_id = p.id
        <where>
            <if test="id != null">a.id = #{id}</if>
            <if test="email != null">a.email = #{email}</if>
            <if test="name != null">a.name = #{name}</if>
        </where>
    </select>

    <update id="updateLoginTimeByName">
        UPDATE account
        SET login_time = NOW()
        WHERE name = #{name}
    </update>

</mapper>