<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.AuthMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.model.Auth">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="findAllCode" resultType="String">
    SELECT
    a.code
    FROM `auth` a
  </select>
</mapper>