<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.PermissionMapper">
    <resultMap id="PermissionMap" type="com.zoctan.api.model.Permission">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="resource" jdbcType="VARCHAR" property="resource"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="handle" jdbcType="VARCHAR" property="handle"/>
    </resultMap>

    <resultMap id="ResourceHandleMap" type="com.zoctan.api.model.Resource">
        <result column="resource" jdbcType="VARCHAR" property="resource"/>
        <collection property="handleList" ofType="com.alibaba.fastjson.JSONObject">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="handle" jdbcType="VARCHAR" property="handle"/>
        </collection>
    </resultMap>

    <select id="findAllResourcePermission" resultMap="ResourceHandleMap">
        SELECT
        p.resource,
        p.id,
        p.handle
        FROM `permission` p
    </select>

    <select id="findAllCode" resultType="String">
        SELECT
        p.code
        FROM `permission` p
    </select>
</mapper>