<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.RoleMapper">

    <resultMap id="RoleMap" type="com.zoctan.api.model.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="RoleWithResourceMap" type="com.zoctan.api.model.RoleWithResource" extends="RoleMap">
        <!-- 1角色对应多资源 -->
        <collection property="resourceList" ofType="com.zoctan.api.model.Resource">
            <result column="resource" jdbcType="VARCHAR" property="resource"/>
            <!-- 1资源对应多操作 -->
            <collection property="handleList" ofType="com.zoctan.api.model.Handle">
                <id column="id" jdbcType="BIGINT" property="id"/>
                <result column="handle" jdbcType="VARCHAR" property="handle"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findRoleWithPermission" resultMap="RoleWithResourceMap">
        SELECT
        r.*,
        p.resource,
        p.id,
        p.handle
        FROM `role` r
        LEFT JOIN `role_permission` rp ON rp.role_id = r.id
        LEFT JOIN `permission` p ON rp.permission_id = p.id
        ORDER BY r.id
    </select>

    <select id="findRoles" resultMap="RoleWithResourceMap">
        SELECT
        r.*
        FROM `role` r
        ORDER BY r.id
    </select>

</mapper>