<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.RoleMapper">

    <resultMap id="RoleMap" type="com.zoctan.api.model.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="RoleWithPermissionMap" type="com.zoctan.api.model.Role" extends="RoleMap">
        <!-- 1角色对应多权限 -->
        <collection property="permissionList" ofType="com.zoctan.api.model.Permission">
            <result column="permission_id" jdbcType="BIGINT" property="id"/>
            <result column="permission_resource" jdbcType="VARCHAR" property="resource"/>
            <result column="permission_code" jdbcType="VARCHAR" property="code"/>
            <result column="permission_handle" jdbcType="VARCHAR" property="handle"/>
        </collection>
    </resultMap>

    <select id="findAllRoleWithPermission" resultMap="RoleWithPermissionMap">
        SELECT
        r.*,
        p.id as permission_id,
        p.resource as permission_resource,
        p.code as permission_code,
        p.handle as permission_handle
        FROM `role` r
        LEFT JOIN `role_permission` rp ON r.id = rp.role_id
        LEFT JOIN `permission` p ON rp.permission_id = p.id
    </select>
</mapper>